.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*img Slider*/
.stillcut {
  clear: both;
  width: 90vw;
  height: 55vw;
  margin: auto;
}
.imgStill {
  width: 85vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 5vw;
  border-radius: 2vw;
}
.stillButton {
  float: left;
}

/*movies by genre*/
.movie_div {
  width: 90vw;
  margin: auto;
}
.img_poster {
  width: 16vw;
  height: 24vw;
  float: left;
  margin: 1%;
  box-shadow: 0px 0px 10px 3px #171717;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  0% { opacity: 0; margin: 0; }
  100% { opacity: 1; margin: 1%; }
}
@-webkit-keyframes fadein {
  0% { opacity: 0; margin: 0; }
  100% { opacity: 1; margin: 1%; }
}

@media (max-width: 500px) {
  .img_poster { width: 28vw; height: 42vw; }
}

@media (min-width: 900px) {
  .stillcut { width: 810px;  height: 470px; }
  .imgStill { width: 765px; margin-top: 10px; margin-bottom: 10px; }
  .movie_div { width: 810px; }
  .img_poster { width: 145px; height: 215px; }
}