body {
  background-color: #080808;
  background-size: cover;

  margin: 0 0 0 0;
  font-family: "Gill Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 5vw;
  font-weight: 100;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}
