#mdiv {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.3);
}
ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
ul li {
  display: inline;
  border-right: 1px solid #999;
  font: bold 24px Dotum;
  padding: 0 5px;
}
ul li:last-child {
  border-right: none;
}
