@font-face {font-family: NanumSquare_acR; src: url('./fonts/NanumSquare_acR.ttf');}
@font-face {font-family: dovemayo; src: url('./fonts/dovemayo.otf');}

#mdiv {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#mdiv_sub_menu {
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 5%;
  clear: both;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

ul {
  padding-left: 0.2em;
}
ul li {
  display: inline;
  padding: 0 0.5em;
}

.menu_link_li_style {
  color: #ccc;
  font-family : "dovemayo";
  transition: all 500ms;
}
.menu_link_li_style:hover {
  color: #777;
}
.menu_link_li_style:active {
  font-size: 1.1em;
}
.menu_link_li_style.active {
  color: white;
  font-weight: bold;
}

.menu_link_sub_li_style {
  color : #ccc;
  font-size: 2vw;
  padding-right: 5%;
  font-family: "NanumSquare_acR";
  text-shadow: 0.3vw 0.2vw 5px black;
  transition: all 300ms;
}
.menu_link_sub_li_style:hover {
  color: #777;
}
.menu_link_sub_li_style:active {
  font-size: 1.8vw;
}
.menu_link_sub_li_style.active {
  color: white;
  font-weight: bold;
  text-shadow: 0.3vw 0.2vw 5px black;
}

* {
  user-select: none;
}

@media (min-width: 900px) {
  .menu_link_sub_li_style { font-size: 17px; }
}