#mdiv {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgba(58, 58, 58, 0.3);
}

#mdiv_sub_menu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgba(58, 58, 58, 0.3);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

ul {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
ul li {
  display: inline;
  border-right: 1px solid #999;
  padding: 0 2em;
}

.menu_link_li_style {
  color : #ffffff;
  font-size:1.7em;
  font-weight:bolder;
  font-family : "Malgun Gothic";
}

.menu_link_sub_li_style {
  color : #ffffff;
  font-size:1.2em;
  font-weight:bolder;
  font-family : "Malgun Gothic";
}

ul li:last-child {
  border-right: none;
}
